
.nav-bar{
    margin-top: 20px;

    
    
    
    height: 70px;
    display: flex;
    align-items: center;
    
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    
   
    


}
.brand-icon{
    color: #FF5A5F;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    padding-left: 36px;
}

.fa-airbnb{
    font-size: 28px;
    font-weight: 700;
}

/* Rectangle 13 */


